<app-page
    [title]="title"
    [labelButtonAdd]="labelButtonAdd"
    [data]="dataList"
    [cols]="columns"
    [buttonConfig]="buttonConfig"
    [isLoading]="isLoading"
    [hasError]="hasError"
    [isEmpty]="isEmpty"
    (onCreate)="openForm()"
/>

<app-supplier-form 
    #form
    [data]="dataObject"
    (onSave)="save($event)"
    (onUpdate)="update($event)"
    [conceptList]="conceptList"
    [isReady]="!isLoadingConcepts"
    [hasError]="!isLoadingConcepts && conceptList.length <= 0"
    />

