<p-dialog 
  header={{title}}
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '65vw'}" 
  focusOnShow='false'
  (onHide)="resetAll()">

  <div *ngIf="!isReady" class="text-center p-5">
    <p-progressSpinner 
      [style]="{ width: '50px', height: '50px' }" 
      strokeWidth="4">
    </p-progressSpinner>
    <p>Iniciando formulario...</p>
  </div>
  
  <div *ngIf="isReady && hasReadyError" class="text-center p-5">
    <i class="pi pi-exclamation-triangle text-warning" style="font-size: 3rem;"></i>
    <h4 class="mt-3">Error</h4>
    <p>{{ textError }}</p>
  </div>

  <div *ngIf="isReady && !hasReadyError">
    <form [formGroup]="form">
        <div class="row pt-5">        
          <div [ngClass]="field.classList ? field.classList : 'col-12 col-md-6 gap-1 margin-bottom'" *ngFor="let field of fields">
              <p-floatLabel>
                <input *ngIf="isFieldType(field.type, 'text')"
                  pInputText
                  [id]="field.controlName"
                  [formControlName]="field.controlName"
                  [type]="field.type"
                  [placeholder]="field.placeholder"/>

                <p-inputNumber *ngIf="isFieldType(field.type, 'number')"
                  [id]="field.controlName"
                  [formControlName]="field.controlName"
                  [useGrouping]="false"
                  [min]="field.min || null"
                  [max]="field.max || null"
                  [maxlength]="field.maxLength || null"
                  [placeholder]="field.placeholder"
                  [style]="{ width: '100%'}"/> 

                <p-dropdown *ngIf="isFieldType(field.type, 'select')"
                  [options]="field.selectList"
                  [showClear]="true" 
                  [formControlName]="field.controlName"
                  [style]="{ width: '100%'}"
                  appendTo="body"
                  optionLabel="name"
                  optionValue="id">
                </p-dropdown>

                <p-multiSelect *ngIf="isFieldType(field.type, 'multiselect')"
                  [options]="field.selectList"
                  [formControlName]="field.controlName"
                  [placeholder]="field.placeholder"
                  [style]="{ width: '100%'}"
                  display="chip" 
                  [showClear]="true"
                  appendTo="body"
                  optionLabel="name"
                  optionValue="id"
                  emptyMessage="Sin resultados"
                  emptyFilterMessage="Sin resultados"
                  >
                </p-multiSelect>

                <p-password *ngIf="isFieldType(field.type, 'password') && !isEditMode"
                  [id]="field.controlName"
                  [formControlName]="field.controlName"
                  [placeholder]="field.placeholder"
                  [toggleMask]="isEditMode ? false : true"
                  [feedback]="false"
                />
                <label *ngIf="!(isFieldType(field.type, 'password') && isEditMode)" [for]="field.controlName">
                  {{ field.label }}
                </label>
              </p-floatLabel>

              <small *ngIf="hasError(field.controlName)" class="input-invalid">
              {{ field.errorMessage }}
              </small>
          </div>
        </div>
        <div class="text-end">
            <p-button 
              class="me-3"
              label="Cancelar"
              severity="secondary"
              (onClick)="visible = false" 
              />
            <p-button 
              type="submit"
              label="Guardar"
              (onClick)="sendData()"
              [disabled]="form.invalid"
              />
        </div>
    </form>
  </div>
</p-dialog>
