::ng-deep .p-datatable-header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

::ng-deep p-dropdown.p-element.p-inputwrapper{
    width: inherit;
}

::ng-deep .p-datatable-sm.p-datatable-striped{
    font-size: 0.8rem;
}

::ng-deep .p-button.p-button-icon-only.p-button-rounded{
    height: 0.8rem;
}

::ng-deep .p-button.p-button-icon-only{
    width: 0.8rem;
}

::ng-deep .p-element.p-ripple.p-datepicker-trigger.p-button-icon-only{
    width: 1.8rem;
}

::ng-deep .p-button-icon.pi.pi-chevron-right,
::ng-deep .p-button-icon.pi.pi-chevron-down
{
    font-size: 0.8rem;
}

::ng-deep .p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-text.p-button-plain{
    box-shadow: none;
}

.table{
    overflow: auto; 
    max-height: 80vh;
}

.loading-box{
    height: 80vh;
}
