<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg_html">
  <h1 class="mb-5">Administración de consorcios</h1>

  <h2 class="mb-5">Iniciar sesión</h2>

  <form [formGroup]="userForm">
    <div class="mb-5">
      <p-floatLabel>
        <input 
          pInputText
          id="username"
          formControlName="username"
          type="text"
          placeholder="Ingrese su email"
        />
        <label for="username">Email</label>
      </p-floatLabel>
      <small *ngIf="hasError('username')" class="input-invalid">
        Email inválido.
      </small>
    </div>

    <div class="mb-5">
      <p-floatLabel>
        <p-password 
          id="password"
          formControlName="password"
          placeholder="Ingrese su contraseña"
          toggleMask="true"
          feedback="false"
        />
        <label for="password">Contraseña</label>
      </p-floatLabel>
      <small *ngIf="hasError('password')" class="input-invalid">
        Contraseña obligatoria.
      </small>
    </div>

    <div class="text-center">
      <p-button 
        type="submit" 
        label="Ingresar"
        (onClick)="sendData()"
        class="w-100"
        [loading]="loading" 
        />
    </div>
  </form>

  <div class="text-center mt-5">
    <p-button 
      [link]="true"
      label="Olvidé mi contraseña"
      (onClick)="showRecoveryModal = true"
      class="w-100"
      />
  </div>
</div>
<app-reset-pass
    [visible]="showRecoveryModal"
    (onCloseDialog)="showRecoveryModal = false"
    />