<app-page
    [title]="title"
    [labelButtonAdd]="labelButtonAdd"
    [data]="dataList"
    [cols]="columns"
    [buttonConfig]="buttonConfig"
    [isLoading]="isLoading"
    [hasError]="hasError"
    [isEmpty]="isEmpty"
    (onCreate)="openForm()"
    [expandable]="true"
    [expandData]="expandData"
/>

<app-consortium-form 
    #form
    [data]="dataObject"
    (onSave)="save($event)"
    (onUpdate)="update($event)"
    />
<app-liquidation-dialog 
    [visible]="showLiquidationDialog"
    [consortiumId]="consortiumId!"
    (onCancel)="showLiquidationDialog = false"
    (onConfirm)="generateLiquidation($event)"
/>
<app-report-dialog 
    [visible]="showReportDialog"
    [consortiumId]="consortiumId!"
    (onCancel)="showReportDialog = false"
    (onExpenses)="getExpensesReport($event)"
    (onFinancialReport)="getFinancialReport($event)"
/>
<app-functional-unit-dialog
    [visible]="showFunctionalUnitDialog"
    [consortiumId]="consortiumId!"
    (onCancel)="resetUnitFunctionalData()"
    (onSave)="saveFunctionalUnits($event)"
/>
<app-client-dialog 
    [visible]="showBindUsersDialog"
    [clients]="clients"
    [functionalUnit]="functionalUnit!"
    (onCancel)="resetClientsData($event)"
/>
