<app-page
    [title]="title"
    [labelButtonAdd]="labelButtonAdd"
    [data]="dataList"
    [cols]="columns"
    [buttonConfig]="buttonConfig"
    [isLoading]="isLoading"
    [hasError]="hasError"
    [isEmpty]="isEmpty"
    (onCreate)="openForm()"
/>
<app-movement-form
    #form
    [data]="dataObject"
    (onSave)="save($event)"
    (onUpdate)="update($event)"
    [consortiumList]="consortiumList"
    [supplierList]="supplierList"
    [conceptList]="conceptList"
    [functionalUnitList]="functionalUnitList"
    [isReady]="!isLoadingEntities()"
/>
<app-toast #toast />
<app-confirm-dialog
    #dialog
    (onConfirm)="deleteItem($event)"
/>
