<app-page
    [title]="title"
    [labelButtonAdd]="labelButtonAdd"
    [data]="dataList"
    [cols]="columns"
    [buttonConfig]="buttonConfig"
    [isLoading]="isLoading"
    [hasError]="hasError"
    [isEmpty]="isEmpty"
    (onCreate)="openForm()"
    [hideCreateButton]="!canCreate"
/>
<app-movement-form
    [visible]="formVisible"
    [data]="dataObject"
    (saveEmit)="handlePostCreate($event)"
    (onUpdate)="update($event)"
    [consortiumList]="consortiumList"
    [supplierList]="supplierList"
    [conceptList]="conceptList"
    [isReady]="!isLoadingEntities()"
    [hasReadyError]="hasErrorEntities()"
    (closeEmit)="formVisible = false"
/>
